.filter {
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        margin-bottom: 20px;
        background-color: $clr2;
        width: 800px;
        padding: 10px;
        border-radius: 10px;
        font-family: cinzel;
        color: $clr4;
        font-weight: 700;

        input,
        select {
            font-family: courgette;
            border-radius: 10px;
            border: 0;
            text-align: center;
        }

        button {
            &:hover {
                cursor: pointer;
            }

            font-family: cinzel;
            font-weight: 700;
            border-radius: 17px;
            border: none;
            background-color: $clr4;
        }

    }
}