ul{
    margin: 0;
    display: flex;
    background-color: $clr2;

}
li{
    padding: 5px;
    list-style-type: none;
    margin: 20px;
    background-color:$clr3 ;
    border-radius: 20px;
    a{
        color: #222222;
        text-decoration: none;
    } 
}

.title{
margin: auto;
text-align: center;
color:$clr4 ;
}
