.user-msg{
    background-color: $clr2;
    width: 300px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-family:cinzel ;
    font-family: 800;
    color: $clr4;
    font-size: 2em;
    border-radius: 17px;
    padding: 10px;
    margin-left: 50px;
}